.overflow-y-auto::-webkit-scrollbar {
  width: 6px;
}

.overflow-y-auto::-webkit-scrollbar-track {
  background: var(--color-card);
}

.overflow-y-auto::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.overflow-y-auto::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary);
}
